extends ../layout/index

block content
    div(class="py-10")
        h2(class="text-center text-4xl font-extrabold my-10") Bienes
            span(class="font-normal") Raices
        h2(class="text-center text-2xl font-extrabold")= page

        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(class="space-y-5")
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div
                        label(class="block text-sm uppercase text-gray-600 mb-2 font-bold" for="email") Email
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" id="email" placeholder="Tu correo" type="email" name="email")
                    div
                        label(class="block text-sm uppercase text-gray-600 mb-2 font-bold" for="password") Contraseña
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" id="password" placeholder="Tu password" type="password" name="password")
                    div(class="flex items-center justify-between")
                        a(href="/auth/register" class="text-gray-500 text-sm") ¿No tienes una cuenta?
                        a(href="/auth/reset-password" class="text-gray-500 text-sm") ¿Olvitaste tu contraseña?
                    input(class="w-full bg-indigo-700 hover:bg-indigo-700 text-white font-bold py-2 cursor-pointer rounded" type="submit" value="Iniciar sesión")
                    