header(class="bg-indigo-600 p-4 flex")
    div(class="container mx-auto flex justify-between items-center")
        h2(class="text-2xl text-white font-extrabold text-center") Bienes
            span(class="font-normal") Raices
    nav(class="my-5 text-sm md:flex md:items-center md:gap-5 font-bold text-white hidden")
        a(href="/auth/register" class="block whitespace-nowrap") Crear cuenta
        a(href="/auth/login" class="block whitespace-nowrap") Iniciar Sesión
div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/category/1" class="text-sm font-bold uppercase text-white") Casas
        a(href="/category/2" class="text-sm font-bold uppercase text-white") Departamentos
        a(href="/category/3" class="text-sm font-bold uppercase text-white") Bodegas
        a(href="/category/4" class="text-sm font-bold uppercase text-white") Terrenos
        a(href="/category/5" class="text-sm font-bold uppercase text-white") Cabañas
